@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Darker+Grotesque:wght@300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Darker Grotesque', sans-serif;
}

p, span, a {
  font-family: 'DM Sans', sans-serif;
}

/* styles/globals.css */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db transparent; /* thumb | track */
}

/* WebKit-specific styles for Chrome, Edge, Safari */
.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 4px;
}


.dark .scrollbar-custom {
  scrollbar-color: #4b5563 transparent;
}

.dark .scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Tailwind gray-600 */
}


/* styles/globals.css */
.scrollbar-auto-hide {
  overflow-y: auto;
  max-height: inherit; /* Let Tailwind control this */
  scrollbar-width: none; /* For Firefox */
}

/* Hide Webkit scrollbars (Chrome, Safari, Edge) */
.scrollbar-auto-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-auto-hide {
  scroll-behavior: smooth;
  padding-right: 4px; /* for spacing from edge */
}

